/****************************/
/* Media layout             */
/****************************/
/****************************/
/* Site preset              */
/****************************/
/****************************/
/* Element preset           */
/****************************/
.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 238, 231, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 99; }
