@import '../assets/styles/_index';

header {
  background: #eee;
  border-bottom: #ccc;
  height: $header-height;
  padding: $padding-standard $padding-large;
  box-sizing: border-box;

  .app-logo {
    display: inline-block;
    height: $logo-height;
    width: $logo-height;
    margin-right: $padding-standard;
    border-radius: 100%;
    background: #f00;
    vertical-align: middle;

    .material-icons {
      font-size: $logo-height;
      color: #{ $color-white };
    }
  }

  .app-title {
    display: inline-block;
    font-size: #{2 * $font-size-base};
    font-weight: 700;
    vertical-align: middle;
  }

  .header-info {
    float: right;
    line-height: $logo-height;
    font-size: $font-size-xsmall;
  }

}
